@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  white-space: pre-wrap;
}

* {
  box-sizing: border-box;
}

.markdown-preview::-webkit-scrollbar,
.markdown-form::-webkit-scrollbar {
  border-radius: 0.75rem;
  background-color: #ffffff;
  width: 10px;
}

.markdown-preview::-webkit-scrollbar-thumb,
.markdown-form::-webkit-scrollbar-thumb {
  background-color: #ffd803;
  border-radius: 0.75rem;
}

/*************  
home
***************/

/*************  
post form
***************/
.post-form {
  background-color: #e3f6f5;
}
.submit-post {
  background-color: #ffd803;
}
.post-form-header {
  text-align: center;
  margin-top: 2em;
}
.post-form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.post-form-wrapper form {
  width: 50%;
}
.post-form-inner {
  width: 100%;
}
.post-form-inner label {
  font-weight: 600;
  color: #555555;
}
.post-form-inner input,
.post-form-inner textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333333;
  margin-bottom: 30px;
  margin-top: 10px;
}
.post-form-inner .title {
  height: 40px;
}
.post-form-inner .content {
  height: 150px;
  line-height: 1rem;
}
.post-form-inner .submit-btn {
  height: 40px;
}
.post-form-inner .err-msg {
  color: red;
  margin: 0;
}
.post-form-inner .submit-btn {
  background-color: rgb(54, 90, 199);
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
}
.toplink {
  margin: 50px auto;
  text-align: center;
}
